<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>{{product}}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="product_name" class="form-label">Enter Product Name</label>
            <input type="text" value="{{product.name}}" name="product_name" id="product_name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Enter Price</label>
            <input type="number" value="{{product.unit_price}}" name="price" id="price" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Enter Quantity</label>
            <input type="number" value="{{product.quantity}}" name="quantity" id="quantity" class="form-control" required>
        </div>
      
        <input type="submit" value="update Product" class="btn btn-success">
    </form>
</body>
</html>